*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eeee;
  }
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
  @import "path/to/hamburgers";
:root{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}


input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 8px;
    outline: none;
}

button {
    background-color: #007bff;
    color: #000000;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para as caixas de texto de Tarefa e Dados */
#novaTarefa, #novosDados {
    width: 100%;
}

/* Estilo para os campos de data */
.data-inicio, .data-termino, .data-prevista {
    width: 100%;
}

.filter-options {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.filter-options button {
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.details {
  flex: 2; 
  padding-right:20px; 
}

.pizza {
    width: 400px; /* Largura desejada em pixels */
    height: 300px; /* Altura desejada em pixels */
    display:flex;
    flex:1
}

.indice{

    display: flex;
    flex: flex-start;

}

.data-prevista,
.data-inicio,
.data-termino {
    border: none;     
    padding: 0;       
    font-size: 15px;    
    background: none;   
    outline: none;      
}

.navegation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden; 
}
.navegation.active{
    width: 70px ;
}
.navegation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navegation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navegation ul li:hover,
.navegation ul li.hovered{
    background: var(--white);
}
.navegation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navegation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navegation ul li:hover a,
.navegation ul li.hovered a{
    color: var(--blue);
}
.navegation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navegation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navegation ul li a .tittle{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.status-pendente{
    background-color: #007bff;
  color: #fff;
}
.status-concluída {
  background-color: #4CAF50;
  color: white;
}


.status-em-andamento {
  background-color: #ffbf00; 
  color: white;
}



.status-atrasada {
  background-color: #c50000; 
  color: white;
}



table button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

table button:hover {
  background-color: #a4a5a7;
}

.navegation ul li:hover a::before,
.navegation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navegation ul li:hover a::after,
.navegation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}



.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 70px);
    left: 70px;
}
.topbar{
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    display: flex;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search {
  position: relative;
  width: 50%;
  margin: 0 auto; 
}


.search label{
    position: relative;
    width: 100%;   
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--black2);
}
.search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}
.user
{
    position: relative;
    width: 120px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
}



.details{
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0px;
}
.details .recentOrders{
  align-items: center;
    position: relative;
    display: grid;
    min-height: 400px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.cardReader {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #f5f5f5; 
}


.cardHeader h2 {
    margin: 0; 
    font-size: 24px; 
}

.tarefa tr{

    height: 20px;
}

.filter-button{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border: none;
    border-radius: 6px;
}
.details table{
    width: 100%;
    height: 10px;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 600;
}

.details .recentOrders table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child{
    border-bottom: none;
}
.details .recentOrders table tr td{
    padding: 5px;
}
.details .recentOrders table tr td:last-child{
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2){
    text-align: center;
}
.details .recentOrders table tr td:nth-child(3){
    text-align: start;
}
.status.stable{
    padding: 4px 12px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.attention{
    padding: 4px 8px;
    background: #FFD700;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.critical{
    padding: 4px 13px;
    background: #FF0000;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.recentCustomers{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    background: var(--white);
}
.recentCustomers .imgBox{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.recentCustomers .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentCustomers table tr td{
    padding: 12px 10px;
}
.recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.recentCustomers table tr td h4 span{
    font-size: 14px;
    color: var(--black2);
}

/* RESPONSIVIDADE */
@media (max-width: 1335px)
{
    .navegation
    {
        left: -300px;
    }
    .navegation.active
    {
        width: 300px;
        left: 0px;
    }
    
    .main
    {
        width: 100%;
        left: 0;
    }
    .main.active
    {
        left: 300px;
    }
    .cardBox
    {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px)
{
    .details
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .recentOrders
    {
        overflow-x: auto;
    }
}
@media (max-width: 560px)
{
    .cardBox   
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader
    {
        font-size: 20px;
    }
    .user
    {
        min-width: 40px;
    }
    .navegation
    {
        width: 100%;
        left: -110%;
        z-index: 1000;
    }
    .navegation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        color: #fff;
        position: fixed;
        left: initial;
        color: var(--white);
    }
}
h1{
    text-align: center;
    font-size: 3rem;
}
header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
   /*border: 1px solid red;*/
    margin: auto auto;
}
input{
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;

}

.add {
  width: 180px; /* Largura do botão "adicionar" */
  cursor: pointer;
  background: green;
  color: white;
  font-weight: bold;
  border: none;
  height: 50px;
  border-radius: 20px;
}
main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    /*border: 1px solid blue;*/
    padding-top: 40px;
}
.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px;
    margin-bottom: 2%;
    cursor: pointer;

}
.item-icone{
    flex: 10%;
    /*border: 1px solid orange;*/
    text-align: center;
    font-size: 2rem;
    

}
.item-nome{
    flex: 65%;
    /*border: 1px solid deeppink;*/
    font-size: 20px;
    font-weight: bold;


}
.item-botao{
    flex: 25%;
    /*border: 1px solid green;*/


}
/* COMMON */
  .material-icons.md-36 {
    font-size: 36px;
  }
  .material-icons.md-48 {
    font-size: 48px;
  }
  .material-icons.tomato {
    color: tomato;
  }
  .material-icons.royalblue {
    color: royalblue;
  }
  .delete{
    background: red;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
  }
  
  .item.clicado{
    background: rgb(118, 185, 118);
    color: green;

  }